@use "./mixins.scss" as *;
@use "./font-faces.scss" as *;
@use "./variables.scss" as *;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Avenir";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  font-family: "Avenir";
  font-weight: 400;
  margin: 24px 0 16px;
  line-height: 2rem;
  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir";
  font-weight: 400;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background-color: $brainflix-blue;
  border: none;
  color: $white;
  padding: 1.3rem 2rem;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  font-family: "Avenir";
  font-weight: 700;
  transition: background-color 0.2s;

  &:hover {
    background-color: $brainflix-darkblue;
    cursor: pointer;
  }
}

nav,
main {
  padding: 1rem;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 4rem;
  }
}
