@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.comment {
  &__card {
    display: flex;
    column-gap: $mobile-column-gap;
    padding: $mobile-row-gap 0;
    border-bottom: 1px solid $mercury;
    @include tablet {
      padding: $tablet-row-gap 0;
    }
    @include desktop {
      padding-right: 2rem;
    }

    &:last-child {
      @include desktop {
        border-bottom: none;
      }
    }
  }

  &__profile-pic {
    background-color: $mercury;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &__container {
    width: 100%;
  }

  &__date {
    color: $silver;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3Frem;
  }
}
